* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left,#a0d2eb,#ffff ,#a0d2eb);
  /* background:linear-gradient(to right,rgba(21, 87, 92),#ffff,rgba(21, 87, 92)) ; */
  text-align: center;
 
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 8vmin;
  color: #b0413e;
  /* background-color: #ffffc7; */
    background-color: antiquewhite;
 
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #1d1d35;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  color: #16133b;
}

.hide {
  display: none;
}
